***TATA Motors Limited - Stock Prices***
**2006 - 2024** **Currency in INR**

In [2]:
import pandas as pd

data = pd.read_csv('./TATAMOTORS.NS.csv')

print(data.head(5))
print(data.tail(5))

         Date        Open        High         Low       Close   Adj Close  \
0  2006-12-01  173.042435  173.042435  155.268692  161.515854  141.449173
1  2006-12-04  162.023666  170.512909  162.023666  169.085266  148.078171
2  2006-12-05  170.167969  170.867416  167.293518  169.209824  148.187225
3  2006-12-06  167.121048  170.167969  165.568832  168.912796  147.927109
4  2006-12-07  168.634933  171.701019  167.322250  171.068634  149.815109

       Volume
0  10001085.0
1  18491096.0
2   6699838.0
3   4822862.0
4   3963218.0
            Date        Open        High         Low       Close   Adj Close  \
4228  2024-01-15  820.000000  820.400024  810.299988  812.450012  812.450012
4229  2024-01-16  812.450012  827.000000  812.450012  818.849976  818.849976
4230  2024-01-17  811.000000  813.700012  804.000000  805.549988  805.549988
4231  2024-01-18  807.000000  822.950012  797.000000  819.049988  819.049988
4232  2024-01-19  823.849976  826.000000  819.500000  823.549988  823.549988

          Volume
4228   4835856.0
4229  10159066.0
4230   7895439.0
4231  11500495.0
4232   5706888.0

***Data Cleaning***

Search for null values

In [3]:
data.isnull().sum()

Date         0
Open         7
High         7
Low          7
Close        7
Adj Close    7
Volume       7
dtype: int64