**Student Alcohol Consumption Rates**

We will use a dataset containing student alcohol consumption rates to practice data cleaning and visualization. The dataset is from Kaggle.

In [2]:
import pandas as pd

stud_consump = pd.read_csv('student-mat.csv', sep=';')

stud_consump.head(10)

  school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0  GP,F,18,U,GT3,A,4,4,at_home,teacher,course,mot...
1  GP,F,17,U,GT3,T,1,1,at_home,other,course,fathe...
2  GP,F,15,U,LE3,T,1,1,at_home,other,other,mother...
3  GP,F,15,U,GT3,T,4,2,health,services,home,mothe...
4  GP,F,16,U,GT3,T,3,3,other,other,home,father,1,...
5  GP,M,16,U,LE3,T,4,3,services,other,reputation,...
6  GP,M,16,U,LE3,T,2,2,other,other,home,mother,1,...
7  GP,F,17,U,GT3,A,4,4,other,teacher,home,mother,...
8  GP,M,15,U,LE3,A,3,2,services,other,home,mother...
9  GP,M,15,U,GT3,T,3,4,other,other,home,mother,1,...