***Google Monthly Stock Prediction***

Using the dataset from kaggle.com. I will use it to build a model that predicts the stock price of Google for the 
next month. The dataset contains 4 mainly needed columns to complete the prediction. Opening and Closing of stock 
will be of great value here. This will form a model on its own and then a model for low and high stock price will be
built.

In [1]:
import pandas as pd

data = pd.read_csv('GOOGLE_monthly.csv')

data.tail()

,Date,Open,High,Low,Close,Adj Close,Volume
231,2023-12-01,133.320007,143.945007,129.399994,140.929993,140.929993,482059400
232,2024-01-01,139.600006,155.199997,136.850006,141.800003,141.800003,428771200
233,2024-02-01,143.690002,150.695007,136.639999,139.779999,139.779999,475231400
234,2024-03-01,139.610001,153.199997,131.550003,152.259995,152.259995,507008200
235,2024-03-28,152.000000,152.669998,151.330002,152.259995,152.259995,20971645