**Kenya Poverty Levels and Predictions**

**Introduction**

Kenya is a country in Africa well known for its wildlife attraction,
athletics and silicon savannah. Though the country also faces the 
challenge of poverty. The objective of this project is to predict
the poverty levels of individuals in Kenya using the data provided
by Kaggle.

**Sample of the data**

In [1]:
import pandas as pd

poverty_level = pd.read_csv('overall_poverty_est.csv')

poverty_level.head(10)

,residence_county,Headcount Rate (%),Distribution of the Poor (%),Poverty Gap (%),Severity of Poverty (%),Population (ths),Number of Poor (ths)
0,National,36.1,100.0,10.4,4.5,"45,371","16,401"
1,Rural,40.1,71.3,11.5,5.0,"29,127","11,687"
2,Peri-Urban,27.5,5.6,6.9,2.6,"3,340",920
3,Core-Urban,29.4,23.1,8.9,3.9,"12,905","3,795"
4,Mombasa,27.1,2.0,7.5,3.3,"1,185",321
5,Kwale,47.4,2.4,11.1,3.6,820,389
6,Kilifi,46.4,4.0,12.3,4.8,"1,400",650
7,Tana River,62.2,1.2,20.0,9.3,304,189
8,Lamu,28.5,0.2,5.5,1.8,128,36
9,Taita/Taveta,32.3,0.7,7.7,2.7,358,116